* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  letter-spacing: -0.01em;
  overflow-y: scroll;
}

::selection {
  background: #f0c040;
}

/* LAYOUT */
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px 5px 90px 5px;
}
