{{ define "main" }}

<article class="post">
  <hr>
  <!-- CONTENT -->
  <section class="post-content">
    {{ .Content }}
  </section>

  {{ $pages := .CurrentSection.Pages.ByWeight.Reverse }}
  {{/*
  {{ range $index, $page := $pages }}
    {{ #{{ $index }}: {{ .Weight }} - {{ .Title }}<br> }}
  {{ end }}
  */}}
  
  {{ if and .Weight (or ($pages.Prev .) ($pages.Next .)) }}
    <hr>
    <nav class="post-nav">
      {{ with $pages.Prev . }}
        <a href="{{ .RelPermalink }}" class="prev">{{ i18n "prev" }}</a>
      {{ end }}
      {{ with $pages.Next . }}
        <a href="{{ .RelPermalink }}" class="next">{{ i18n "next" }}</a>
      {{ end }}
    </nav>
  {{ end }}


</article>

{{ end }}
