{{ define "main" }}

<article class="post">
  <hr>
  <!-- CONTENT -->
  <section class="post-content">
    {{ .Content }}
    {{ if or .Params.prev .Params.next }}
    <hr>
    {{ end }}
  </section>

  <nav class="post-nav">
  {{ if .Params.prev }}
    {{ with .Params.prev }}
      <a href="{{ . | relLangURL }}" class="prev">{{ i18n "prev" }}</a>
    {{ end }}
  {{ end }}
  {{ if .Params.next }}
    {{ with .Params.next }}
      <a href="{{ . | relLangURL }}" class="next">{{ i18n "next" }}</a>
    {{ end }}
  {{ end }}
  </nav>

</article>

{{ end }}
