{{ define "main" }}

<article class="post">

  <!-- TITLE ->
  <header class="post-header">
    <h1>{{ .Title }}</h1>

    {{ if .Params.description }}
      <p class="post-description">{{ .Params.description }}</p>
    {{ end }}

    <!- meta ->
    <div class="post-meta">
      {{ if .Date }}
        <span>{{ .Date.Format "2006-01-02" }}</span>
      {{ end }}
    </div>
  </header>
-->

  <hr>

  <!-- CONTENT -->
  <section class="post-content">
    {{ .Content }}
  </section>

  <hr>

</article>

{{ end }}