<header class="header" id="header">
  <div class="header-inner">
  <div class="logo">
    <a href="{{ .Site.Home.RelPermalink }}">
      <img src="/logo.jpg" alt="Crypto Easy logo">
      <span>Crypto is Easy!</span>
    </a>
  </div>

  <!-- DESKTOP NAV -->
  <nav class="nav">
    {{ $lang := .Site.Language.Lang }}
    {{ $menu := index .Site.Data.menu $lang }}

    {{ range .Site.Menus.main }}
      <a href="{{ .URL | relLangURL }}">
        {{ i18n .Identifier }}
      </a>
    {{ end }}
  </nav>

  <!-- RIGHT SIDE -->
  <div class="header-right">
    <!-- BURGER -->
    <button class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    {{ partial "language-switcher.html" . }}
  </div>
  </div>

  <!-- MOBILE MENU -->
  <div class="mobile-menu" id="mobileMenu">
    {{ range .Site.Menus.main }}
    <a href="{{ .URL | relLangURL }}">{{ i18n .Identifier }}</a>
  	{{ end }}
  </div>

</header>